@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

:root {
    --bg-color: #E5FFEE;
    --bg-card: #3d995c;
    --cubic-bezier-default: "cubic-bezier(0.34, 1.72, 0.63, 0.81)";
}

* {
    box-sizing: border-box;
}

/* BODY */
body {
    display: flex;
}

body.new-year {
    --bg-color: #FFE5E5;
    --bg-card: #E55050;
}

body {
    font-family: 'Dongle', sans-serif;
    background-color: var(--bg-color);
    height: 100%;
    color: white;
}

/* CONTAINER */
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}