body:not(.new-year) .container.new-year {
    opacity: 0;
    position: fixed;
    z-index: -1;
}

body:not(.new-year) .container.new-year .image-kv,
body:not(.new-year) .container.new-year .image-item.gift-dot,
body:not(.new-year) .container.new-year .new-year__hand-gift {
    scale: 0;
}

body:not(.new-year) .new-year__gift {
    left: -10%;
}

body:not(.new-year) .new-year__gifts {
    left: -50%;
}

body:not(.new-year) .new-year__circle {
    top: -200px;
}

.container.new-year .background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container.new-year .card-kv .image-kv {
    width: 260px;
    transform: rotate(40deg);
    margin-left: -160px;
    margin-top: -10px;
}

.container.new-year .image-kv {
    scale: 1;
    transform-origin: bottom left;
    transition: scale var(--show-time) var(--animation-function-bounce);
}

.container.new-year .image-item.gift-dot {
    width: 70px;
    opacity: 1;
    position: relative;
    left: 80%;
    top: 60%;
    rotate: 15deg;
    transition: scale var(--show-time) var(--animation-function-bounce);
    transform-origin: bottom right;
}

.card-hidden-inside {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

/* IMAGE BG */
.image-bg {
    position: absolute;
    z-index: 2;
}

.new-year__gift {
    width: 8%;
    left: -1%;
    bottom: 50%;
    transform: rotate(15deg);
    transition: left var(--show-time) var(--animation-function-bounce);
}

.new-year__fire-work {
    width: 14%;
    left: 15%;
    bottom: 0;
}

.new-year__santa-fly {
    width: 11%;
    top: 10%;
    left: 15%;
    z-index: -1;
    transform: translateY(-15%);
    animation: santa-fly 2.5s ease-in-out infinite backwards;
}

.new-year__santa {
    position: absolute !important;
    width: 15%;
    bottom: 0;
    right: 10%;
    /* animation: lac 1s ease-in-out infinite alternate;
    transform-origin: bottom; */
}

.new-year__hand-gift {
    width: 15%;
    right: 0;
    top: 10%;
    transform: rotate(-30deg);
    transition: scale var(--show-time) var(--animation-function-bounce);
    transform-origin: bottom right;
}

.new-year__gifts {
    position: relative;
    width: 20%;
    top: 7%;
    left: -25%;
    transform: rotate(30deg);
    transition: left var(--show-time) var(--animation-function-bounce);
}

body.new-year .new-year__circle {
    width: 30%;
    z-index: 2;
    position: absolute;
    left: 37%;
    top: -7px;
    transition: top var(--show-time) ease-out;
    animation: spin 5s linear infinite forwards;
    animation-delay: var(--show-time);
}

body.new-year .new-year__gifts-side {
    width: 27%;
    top: 20%;
    rotate: -30deg;
    right: -15%;
    opacity: 1;
    position: absolute;
    animation: lac 1s ease-in-out infinite  alternate;
    animation-delay: var(--show-time);
    transform-origin: center center;
}