@keyframes santa-fly {
    0% {
        top: 40%;
        left: 40%;
    }

    30% {
        top: 7%;
        left: 12%;
    }

    40% {
        top: 10%;
        left: 15%;
    }

    50% {
        top: 10%;
        left: 15%;
    }

    60% {
        top: 13%;
        left: 18%;
    }

    100% {
        top: -15%;
        left: -15%;
    }
}