body:not(.christmas) .container.christmas {
    display: none;
}

/* HIDDEN CARD HELPER */
/* .card-hidden {
    height: 80vh;
    width: 120px;
    background-color: var(--bg-color);
    position: absolute;
    z-index: 1;
    right: 100%;

    animation-name: slide-hidden;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

/* SNOW FLAKE */
.container.christmas {
    background-repeat: no-repeat;
}

/* KV */
.container.christmas .card-kv .image-kv {
    width: 150%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation-name: slide;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container.christmas .image-item.calendar {
    width: 27%;
    right: 0;
    opacity: 1;
    transform: translate(50%, 50%);
    position: absolute;
    transition: opacity 500ms;
}


/* IMAGE BG */
.image-bg {
    position: absolute;
    z-index: 2;
}

.christmas-tree {
    width: 14%;
    left: -2%;
    bottom: 10%;
    transform: rotate(15deg);
}

.santa-stuck {
    width: 11%;
    top: 0;
    left: 10%;
    transform: translateY(-15%);
}

.wrap-tuyet-man {
    position: absolute;
    bottom: 0;
    right: 10%;
    overflow: hidden;
    width: 15%;
    display: flex;
}

.tuyet-man {
    position: relative;
    max-width: 100%;
    transform: translateY(8%);
    animation: lac 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

.angle-leaf {
    width: 15%;
    position: absolute;
    right: 0;
    top: 20%;
}

.candy-hand {
    position: relative;
    width: 20%;
    top: 7%;
    left: -1%;
}

.bell {
    width: 30%;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: -5%;
    transform: translateX(-50%);
    animation: lac 800ms ease-in-out infinite alternate;
    transform-origin: top left;
}