@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

:root {
    --bg-color: #E5FFEE;
    --bg-card: #3d995c;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body.step-2 {
    --bg-color: #FFE5E5;
    --bg-card: #E55050;
}

body {
    font-family: 'Dongle', sans-serif;
    background-color: var(--bg-color);
    height: 100%;
    color: white;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-wrapper {
    position: relative;
}

.card {
    border-radius: 28px;
    overflow: hidden;
    margin: auto;
    height: 80vh;
    width: 360px;
    background-color: var(--bg-card);

    display: flex;
    flex-direction: column;
}

.card-hidden {
    height: 80vh;
    width: 360px;
    background-color: var(--bg-color);
    position: absolute;
    z-index: 1;
    left: -100%;

    animation-name: slide-hidden;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes slide-hidden {
    0% {
        left: -100%;
    }

    50% {
        left: -100%;
    }

    100% {
        left: -130%;
    }
}

.card-kv .image-kv.step-1 {
    width: 480px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation-name: slide;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.card-kv .image-kv.step-2 {
    width: 260px;
    transform: rotate(40deg);
    margin-left: -160px;
    margin-top: -70px;
}

@keyframes slide {
    0% {
        left: -30%;
    }

    50% {
        left: 0%;
    }

    100% {
        left: 30%;
    }
}

.card-text {
    font-size: 4rem;
    margin-top: auto;
    line-height: 0.7;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.card-footer {
    position: relative;
    z-index: 2;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border-radius: 10px;
    padding: 0;
    border: none;
}

.btn.rounded {
    width: 10px;
    height: 10px;
}

.btn-slide .btn {
    margin-right: 8px;
}

.btn.active {
    width: 25px;
    background-color: #fac355;
}

.btn-next {
    padding: 0 0.5rem;
    margin-right: 1rem;
    color: var(--bg-card);
}



/* CARD TEXT LOGIC */
body.step-2 .card-text.step-2 {
    display: block;
}

body.step-2 .card-text.step-1 {
    display: none;
}

.card-text.step-2 {
    display: none;
}

/* IMAGE KV LOGIC */
body.step-2 .image-kv.step-2 {
    opacity: 1;
    animation-name: scale-bounce;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.34, 1.72, 0.63, 0.81);
    transform-origin: bottom left;
}

@keyframes scale-bounce {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}


body.step-2 .image-kv.step-1 {
    display: none;
}

body.step-2 .card-hidden {
    display: none;
}

.image-kv.step-2 {
    opacity: 0;
    scale: 0.2;
}

/* IMAGE ITEM */
/* STEP 1 */
.image-item.step-1.calendar {
    width: 90px;
    right: 0;
    opacity: 1;
    transform: translate(50%, 50%);
    position: absolute;
    transition: opacity 500ms;
}

.card-hidden-inside {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.image-item.gift-dot {
    opacity: 0;
    scale: 0.2;
}
body.step-2 .image-item.gift-dot {
    opacity: 1;
    position: relative;
    left: 80%;
    top: 60%;
    width: 70px;
    transform-origin: bottom right;
    rotate: 15deg;
    animation-name: scale-bounce;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.34, 1.72, 0.63, 0.81);
    transform-origin: bottom left;
}

body.step-2 .step-1 {
    opacity: 0 !important;
    transition: none !important;
}

body:not(.step-2) .step-2 {
    opacity: 0 !important;
}